<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Post</title>
</head>
<body>
    <p>Welcome to the Post page!!</p>
    <table>
        <th>Title</th>
        <th>Id</th>
        <th>Create Date</th>
        <th>Image</th>
        {% for post in content %}
        <tr>
            <td>{{post.Title}}</td>
            <td>{{post.Id}}</td>
            <td>{{post.Createdate}}</td>
            <td>
                <img src="{% static post.image %}">
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>